body {
  margin: 0;
  padding: 15px;
  box-sizing: border-box;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url('bg.jpg') no-repeat center;
  background-size: cover;
}

.wrapper {
  height: 135px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.button {
  padding: 15px 50px;
  background-color: #4D6947;
  border: 2px solid #4D6947;
  border-radius: 50px;
  font-size: 32px;
  color: #F8F8F8;
  text-transform: uppercase;
  outline: none;
  transition: .3s all;
}

.button:hover {
  border-radius: 0;
  background-color: #F8F8F8;
  color: #4D6947;
  cursor: pointer;
}

.text {
  display: none;
  font-size: 42px;
  color: #4D6947;
}

.warning {
  max-width: 640px;
  font-size: 18px;
  line-height: 130%;
  font-style: italic;
  text-align: center;
}